<%= simple_form_for(illustration) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :character_photo, as: :file, input_html: { accept: "image/*", capture: "camera" } %>
    <%= f.input :situation, label: 'What are they doing?' %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
