<p style="color: green"><%= notice %></p>
<%= render @character %>
<%= render 'illustrations/form', character: @character, illustration: Illustration.new %>
<% @character.illustrations.each do |illustration| %>
  <div>
    <%= link_to illustration_path(illustration) do %>
      <% if illustration.image.attached? %>
        <%= cl_image_tag illustration.image.key %>
      <% else %>
        <p>Processing</p>
      <% end %>
    <% end %>
  </div>
<% end %>
<div>
  <%= link_to "Edit this character", edit_character_path(@character) %> |
  <%= link_to "Back to characters", characters_path %>
  <%= button_to "Destroy this character", @character, method: :delete %>
</div>
